<!DOCTYPE html>
<html lang="en">
<head>
      {{>links}}
</head>
<body>
     {{>header}}
      <!-- Main section -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                      <div class="row">
                        <!-- left -->
                             <div class="col-md-12 col-12 main_header_left align-items-center">
                                <figure class="errorimg">
                                    <img src="./image/A-404-Page-Best-Practices-and-Design-Inspiration.jpg" id="errimg">
                                </figure>
                                =
                                <h1>Oops Page Not Found <span>Error 404</span></h1>
                                <br>
                                <a href="/"><button>Go Back</button></a>
                             </div>
                        <!-- right -->
                        
                      </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
   {{>footer}}
</body>
</html>