<!DOCTYPE html>
<html lang="en">
<head>
         {{>links}}
</head>
<body>
      {{>header}}
      <!-- Main section -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                      <div class="row">
                        <!-- left -->
                             <div class="col-md-6 col-12 main_header_left">
                                <p>Hii! i am Shivanshu Pandey </p>
                                <h1>i am a  <span>Mern Stack Developer</span> and Freelancer</h1>
                                <a href="https://www.linkedin.com/in/shivanshu-pandey-006502220" target="_blank"><button>about me</button></a>
                             </div>
                        <!-- right -->
                             <div class="col-md-6 col-12 main_header_right">
                               <!-- here i am adding slider -->
                             <figure>
                                <img src="./image/My project.png" alt="Professional" class="img-fluid">
                             </figure>
                             </div>

                      </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
  {{>footer}}
</body>
</html>