<!DOCTYPE html>
<html lang="en">
<head>
      {{>links}}
</head>
<body>
     {{>header}}
      <!-- Main section -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                      <div class="row">
                        <!-- left -->
                             <div class="col-md-6 col-12 main_header_left">
                                <p>Welcome To my Weather app</p>
                                <h1>Get the Latest <span>Weather</span> Info Of Your City</h1>
                                <a href="/weather"><button>check now</button></a>
                             </div>
                        <!-- right -->
                             <div class="col-md-6 col-12 main_header_right">
                               <!-- here i am adding slider -->
                               <div id="carouselExampleControls" class="carousel slide image" data-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="w-100" src="./image/ai-generated-7803070_640.jpg" alt="First slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="w-100" src="./image/ai-generated-7803070_640.jpg" alt="Second slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="w-100" src="./image/boy-7708895_640.png" alt="Third slide">
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                             </div>

                      </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
   {{>footer}}
</body>
</html>